<div class="govuk-checkboxes__item">
  <%
    path = if user_task.completed?
             undo_journey_step_task_path(@journey, @current_step, task)
           else
             complete_journey_step_task_url(@journey, @current_step, task)
           end
  %>

  <%= form_tag path, remote: true, authenticity_token: true do || %>
    <%= check_box_tag dom_id(task), 1, user_task.completed?, class: 'govuk-checkboxes__input', onChange: 'Rails.fire(this.form, "submit");' %>
    <%= label_tag dom_id(task), class: 'govuk-label govuk-checkboxes__label' do %>
      <%= task.title %>
    <% end %>
  <% end %>
</div>
