<% unless content_for?(:title) %><% content_for :title, "Niečo sa pokazilo" %><% end %>
<% @disable_feedback = true %>
<%= content_for(:before_main_wrapper) do %>
  <div class="govuk-width-container ">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <% if content_for?(:custom_error) %>
            <%= content_for(:custom_error) %>
          <% else %>
            <h1 class="govuk-heading-xl">Niečo sa pokazilo</h1>
            <p class="govuk-body-lead">Ospravedlňujeme sa, ale stalo sa niečo, čo sme nečakali. Naši programátori boli notifikovaní a pravdepodobne už pracujú na náprave.</p>
            <p>Ak by chyba v dohľadnej dobe nezmizla, tak <%= mail_to 'navody@slovensko.digital', 'nám radšej napíšte' %>.</p>
          <% end %>
        </div>
      </div>
    </main>
  </div>
<% end %>

<%= render template: "layouts/application" %>
