<%= content_for :title, build_page_title('Chyba pri prihlasovaní') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-xl">Nastala chyba pri prihlasovaní</h2>

    <p class="govuk-body-lead">Nemáte dostatočné oprávnenia aby ste mohli reprezentovať zvolený subjekt.</p>
  </div>
</div>
