<div class="govuk-grid-row govuk-!-padding-top-9">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Poslali sme Vám e-mail</h1>
    <p class="govuk-body">Na adresu <span class="govuk-!-font-weight-bold"><%= @email %></span> sme Vám poslali odkaz, cez ktorý sa môžete prihlásiť.</p>
  </div>
</div>
