<div class="sdn-phase-banner govuk-phase-banner" role="banner">
  <div class="govuk-width-container">
    <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
      BETA verzia
    </strong>
      <span class="govuk-phase-banner__text">
                Toto je nová služba občianskeho združenia <strong>Slovensko.Digital</strong>. <%= link_to 'Pomôžte nám ju zlepšiť.', page_path('ako-sa-zapojit') %>
              </span>
    </p>
  </div>
</div>
