<div class="active-topic" role="banner">
  <div class="govuk-width-container">
  <div class="active-topic__inner">
    <div>
      <%= @active_current_topic.body.html_safe %>
    </div>
    <div>
      <a href="#" class="js__active-topic-close">Skryť správu</a>
    </div>
  </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<script>
  document.querySelector('.js__active-topic-close').addEventListener('click', function(e) {
    e.preventDefault()
    Cookies.set('current_topic', '<%= @active_current_topic.key %>', { expires: 365 });
    document.querySelector('.active-topic').classList.add('active-topic__hidden');
  });
</script>
