<div class="navody-deadline">
  <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Upozornenie
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <p class="govuk-notification-banner__heading">
        <% if local_assigns[:past_due] %>
          <%= t('.remaining_days', :count => (local_assigns[:time] - Date.today).to_i) %>
        <% else %>
          Termín uplynul.
        <% end %>
        <%= raw inner_html %>
      </p>
    </div>
  </div>
</div>
