<div class="navody-deadline">
  <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Upozornenie
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <p class="govuk-notification-banner__heading">
        <% if local_assigns[:past_due] %>
          <%= t('.remaining_days', :count => (local_assigns[:time] - Date.today).to_i) %>
        <% else %>
          Termín uplynul.
        <% end %>
        <%= raw inner_html %>
      </p>
    </div>
  </div>

  <% if local_assigns[:past_due] %>
    <details class="govuk-details">
      <summary class="govuk-details__summary, noselect">
      <span class="govuk-details__summary-text">
        Tip: chcem dostať upozornenie pred termínom
      </span>
      </summary>
      <%= render_notification_subscription_component ['DeadlineSubscription'] do %>
        <h3 class="govuk-heading-m">Pošleme vám na email notifikáciu aby ste nazabudli.</h3>
      <% end %>
    </details>
  <% end %>
</div>


<style>
  .govuk-notification-banner {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin-bottom: 30px;
    border: 5px solid #1d70b8;
    background-color: #1d70b8;
  }

  .govuk-notification-banner__header {
    padding: 2px 15px 5px;
    border-bottom: 1px solid rgba(0,0,0,0);
  }

  .govuk-notification-banner__title {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin: 0;
    padding: 0;
    color: #fff;
  }

  .govuk-notification-banner__content {
    color: #0b0c0c;
    padding: 15px;
    background-color: #fff;
  }

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
  color: #2873c4;
}
</style>
