<div class="navody-deadline">
  <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Upozornenie
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <p class="govuk-notification-banner__heading">
        <%= raw inner_html.gsub('{{remaining_days}}', t('.remaining_days', count: remaining_days)) %>
      </p>
    </div>
  </div>
</div>
