<table border="0" cellpadding="0" cellspacing="0" class="btn">
  <tbody>
    <tr>
      <td class="btn-td">
        <%= yield %>
      </td>
    </tr>
    <tr>
      <td class="btn-spacer">
        &nbsp;
      </td>
    </tr>
  </tbody>
</table>
