<div class="sdn-headline">
  <div class="sdn-headline__container govuk-width-container">
    <div class="sdn-headline__part">
      <span class="sdn-headline__headline"><%= yield :headerline %></span>
    </div>
  </div>
</div>
