<% content_for :title, build_page_title('Často kladené otázky') %>
<div class="govuk-!-padding-top-4">
  <h1 class="govuk-heading-xl">Často kladené otázky</h1>
  <p class="govuk-body">Tu nájdete vysvetlenie základných pojmov a odpovede na najčastejšie otázky.</p>
  <%= render "components/faq", faqs: @pages %>
</div>

