<% content_for :title, build_page_title(@page.title, 'Často kladené otázky') %>
<% content_for :before_content do %>
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <%= link_to 'Často kladené otázky', faqs_path, class: 'govuk-breadcrumbs__link' %>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page"><%= @page.title %></li>
    </ol>
  </div>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= @page.title %></h1>

    <p class="govuk-body">
      <%= @page.content %>
    </p>
  </div>
</div>
