# Ignore .idea project files
/.idea

# Ignore docker volumes
/volumes/**

# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
!/tmp/pids/.keep

# Ignore uploaded files in development
/storage/*
!/storage/.keep

/node_modules
/yarn-error.log

/public/assets
/public/sitemaps
.byebug_history

# Ignore master key for decrypting credentials and more.
/config/master.key

# Ignore IDE metadata
/.idea
.vscode/

# Ignore coverage
/coverage

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
