<p>Na prihlásenie sa do Návody.Digital prosím <%= link_to 'kliknite na tento odkaz', @magic_link %></p>

<p>Tento odkaz je platný 10 minút. Ak ste si tento e-mail nevyžiadali Vy, môžete ho pokojne ignorovať.</p>
