<p>Na prihlásenie sa do Návody.Digital prosím použite tento odkaz:</p>

<%= link_to @magic_link, @magic_link %>

<p>Tento odkaz je platný 10 minút. Ak ste si tento e-mail nevyžiadali Vy, môžete ho pokojne ignorovať.</p>
