<div>
  <div class="govuk-checkboxes__item">
    <%= check_box_tag dom_id(task), 1, false, class: 'govuk-checkboxes__input', disabled: true %>
    <%= label_tag dom_id(task), task.title, class: 'govuk-label govuk-checkboxes__label' %>
  </div>
</div>
<div>
  <%= link_to task.url_title || 'Prejsť na službu', task.url, target: "_blank", draggable: false, class: "snd-todo-list__link" %>
</div>
