<%= content_for(:headerline, 'Žiadosť o hlasovací preukaz do volieb do Európskeho parlamentu') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-xl">Hlasovanie v inom členskom štáte EÚ</h2>
    <p class="govuk-body-lead">Občan, ktorý má povolený pobyt v inom členskom štáte EÚ má možnosť hlasovať v tomto štáte. </p>

    <p>TODO: notifikacia volieb + newsletter</p>
  </div>
</div>
