<%= content_for :title, build_page_title('Hlasovanie v mieste trvalého bydliska', 'Voľby do Európskeho parlamentu') %>
<%= content_for(:headerline, 'Voľby do Európskeho parlamentu') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-xl">Hlasovanie v mieste trvalého bydliska</h2>
    <p class="govuk-body-lead">Pre hlasovanie v mieste svojho trvalého bydliska, stačí vo volebnej miestnosti predložiť občiansky preukaz.</p>

    <%= render_notification_subscription_component ['VoteSubscription', 'NewsletterSubscription'] do %>
      <h3 class="govuk-heading-m">Aktivujte si aj notifikácie na email, aby ste na nič nezabudli.</h3>
    <% end %>

    <h3 class="govuk-heading-l">Čo ďalej?</h3>
    <p class="govuk-body">Ak sa Vám táto aplikácia páčila, na portáli Návody.Digital nájdete <%= link_to 'množstvo ďalších návodov', root_path %> ako vyriešiť aj iné životné situácie, ktoré si vyžadujú kontakt so štátnou byrokraciou.</p>
  </div>
</div>
