<%= content_for :title, build_page_title('Voľby do európskeho parlamentu') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Voľby do európskeho parlamentu sa už konali</h1>
    <%= render 'apps/ep_vote_app/application_forms/subscribe' %>
  </div>
</div>
