<%= content_for :title, build_page_title('Voľby do Európskeho parlamentu už skončili') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-xl">Voľby do Európskeho parlamentu už skončili.</h2>
    <h3 class="govuk-heading-l">Aktivujte si upozornenia na email, aby ste na nič nezabudli.</h3>
    <%= render_notification_subscription_component ['VoteSubscription', 'NewsletterSubscription'] %>
  </div>
</div>
