<%= content_for(:headerline, 'Žiadosť o hlasovací preukaz do volieb do Európskeho parlamentu') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-xl"></h2>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Upozornenie</span>
        Občania iného členského štátu EÚ ktorí majú na SR trvalý, alebo povolený pobyt môžu voliť po zápise do zoznamu voličov v obci, kde majú trvalý pobyt. 
        Žiadosť a vyhlásenie je potrebné podať osobne najneskôr do 15. apríla 2019.<a href="https://www.minv.sk/swift_data/source/verejna_sprava/volby_a_referendum/120_ep/ep19_3tav/EP19_ApplicationEU.docx"> Vzor žiadosti a vyhlásenia tu.</a>
      </strong>
    </div>

    <p>TODO: notifikacia ine volby + newsletter</p>
  </div>
</div>
