<%= content_for :title, build_page_title('Osobné prevzatie hlasovacieho preukazu', 'Prezidentské voľby') %>
<%= content_for(:headerline, 'Prezidentské voľby') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Prevzatie hlasovacieho preukazu osobne</h1>
    <p class="govuk-body-lead">Hlasovací preukaz vám vystavia na počkanie na obecnom úrade v mieste trvalého bydliska. Osobne si preukaz vybavíte najneskôr v posledný pracovný deň pred voľbami, počas pracovných hodín úradu.</p>
    <%= render 'apps/ep_vote_app/application_forms/subscribe' %>
  </div>
</div>
