<%= content_for(:headerline, 'Voľby do Európskeho parlamentu') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-xl">Prevzatie hlasovacieho preukazu osobne</h2>
    <p class="govuk-body-lead">Hlasovací preukaz Vám vystavia na počkanie, ak o neho požiadate osobne na obecnom úrade. Najneskôr posledný pracovný deň pred voľbami, samozrejme len počas pracovných hodín úradu.</p>
    <p>TODO: notifikacia volieb + newsletter</p>
  </div>
</div>
