<%= content_for :title, build_page_title('Voľby do európskeho parlamentu') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Voľby do európskeho parlamentu</h1>
    <p class="govuk-body-l">Voľby do európskeho parlamentu sa na Slovensku budú konať 8.&nbsp;júna&nbsp;2024 od 7:00 do 22:00.</p>
    <p class="govuk-body-lead">Ak budete počas volieb mimo trvalého bydliska, táto služba vám pomôže vytvoriť <strong>žiadosť o&nbsp;hlasovací preukaz</strong> tak, aby ste na nič dôležité nezabudli. Je to veľmi jednoduché a&nbsp;trvá to <strong>len pár minút</strong>. O&nbsp;hlasovací preukaz môžete požiadať <strong>elektronicky do 20. mája</strong> alebo <strong>osobne do 7.&nbsp;júna 2024</strong>.</p>
      <p class="govuk-body-lead">Hlasovanie zo zahraničia v Európskych voľbách <strong>nie je možné</strong>.</p>
    <p class="govuk-body-s">Používaním tejto služby súhlasíte so spracovaním osobných údajov v rozsahu nevyhnutnom pre určenie spôsobu voľby a vytvorenie žiadosti o hlasovací preukaz. Následne sú všetky údaje nenávratne zmazané.</p>
    <%= form_for @application_form do |f| %>
      <div class="govuk-form-group">
        <%= f.hidden_field :step, value: 'start' %>
      </div>
      <%= submit_tag 'Súhlasím a chcem začať', class: 'govuk-button govuk-button--large' %>
    <% end %>
  </div>
</div>
