<% if user_journey.all_steps_completed? %>
  <div class="govuk-panel govuk-panel--success">
    <div class="govuk-panel__title govuk-!-font-size-24 govuk-!-margin-bottom-2">
      Hotovo!
    </div>
    <div class="govuk-panel__body govuk-!-font-size-19">
      Dokončili ste tento návod. Gratulujeme!
    </div>
  </div>
<% end %>
