<div id="todo_list">
  <% current_user_step = @user_step_by_steps[@current_step] || UserStep.new %>
  <div class="sdn-todo-list<% if current_user_step.done? %> sdn-todo-list--completed<% end %>">
    <% if step && step.tasks.any? %>
      <div style="background-color: #fffbe4; padding: 30px; margin-bottom: 30px;">
        <p style="font-size: 15px; margin-bottom: 0; opacity: 0.6">
          V zozname úloh môžete kliknúť na ikonku a nastaviť stav úlohy. Ak má úloha nejaké ďalšie povinnosti, môžete
          ich
          odškrtávať v zozname nižšie.
        </p>
      </div>

      <div class="sdn-todo-list-box">
        <div class="sdn-todo-list__title">Povinnosti</div>
        <ul class="sdn-todo-list__items">
          <% step.tasks.each do |task| %>
            <li class="sdn-todo-list__item">
              <% user_task = @user_task_by_tasks[task] || UserTask.new %>
              <%= render "user_journeys/tasks/#{task.type.underscore}", task: task, user_task: user_task %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="sdn-todo-list-main-action">
      <% if current_user_step.done? %>
        <div class="govuk-body-s sdn-todo-list-main-action__info">
          <strong>Úloha je vybavená.</strong> Ak ste sa pomýlili, môžete ju <%= link_to 'označiť ako nevybavenú', user_journey_step_path(user_journey_id: @user_journey.id, id: step, status: 'not_started'), method: :patch, remote: true %>.
        </div>
      <% else %>
        <div class="sdn-todo-list-main-action-buttons">
          <% if step.tasks.any? %>
            <div class="govuk-body-s sdn-todo-list-main-action__info">
              Po splnení všetkých povinností môžete túto úlohu označiť ako vybavenú.
            </div>
          <% end %>
          <%= link_to 'Označiť úlohu za vybavenú', user_journey_step_path(user_journey_id: @user_journey.id, id: step, status: 'done'), class: 'govuk-button', method: :patch, remote: true %>
        </div>
      <% end %>
    </div>
  </div>
</div>
