<% if step && step.tasks.any? %>
  <div class="sdn-todo-list-box">
    <div class="sdn-todo-list__title">Zoznam podúloh</div>
    <ul class="sdn-todo-list__items">
      <% step.tasks.each do |task| %>
        <li class="sdn-todo-list__item">
          <% user_task = @user_task_by_tasks[task] || UserTask.new %>
          <%= render "user_journeys/tasks/#{task.type.underscore}", task: task, user_task: user_task %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
