<% if step && step.tasks.any? %>
  <% user_step = @user_step_by_steps[step] %>
  <% all_tasks_completed = user_step&.all_tasks_completed? %>

  <div class="sdn-todo-list-box <%= "#{"sdn-todo-list-box--completed" if all_tasks_completed }" %>">
    <div class="sdn-todo-list__title">Zoznam podúloh</div>
    <ul class="sdn-todo-list__items">
      <% step.tasks.each do |task| %>
        <li class="sdn-todo-list__item">
          <% user_task = @user_task_by_tasks[task] || UserTask.new %>
          <%= render "user_journeys/tasks/#{task.type.underscore}", task: task, user_task: user_task %>
        </li>
      <% end %>
    </ul>
  </div>

  <% if all_tasks_completed %>
    <div class="sdn-todo-list__success_notice govuk-!-margin-top-0 govuk-!-padding-top-2">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Splnili ste všetky podúlohy!</h3>
    </div>

    <% if step.next_step %>
      <p class="govuk-body govuk-!-margin-top-3">Môžete <%= link_to 'prejsť na ďalší krok', [user_step.user_journey, step.next_step] %>.</p>
    <% end %>
  <% end %>
<% end %>
