<%= content_for(:headerline, @user_journey.journey.title) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <%= render 'shared/user_timeline' %>
  </div>
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-body sdn-content">
      <%= raw @user_journey.journey.description %>
    </div>
  </div>
</div>
