<button type="submit" class="govuk-back-link button-back or-sr-app-back">Späť</button>
<%= form.hidden_field :back, value: false %>

<script>
  $(document).ready(function() {
    $(".or-sr-app-back").on("click", function(e) {
      debugger;
      $('[name="apps_or_sr_app_stakeholders_identifiers_application_form[back]"]').val(true);
    });
  });
</script>
