<% if @application_form.stakeholder&.with_missing_municipality_identifier? %>
  <div class="govuk-form-group">
    <legend id="stakeholder_address" class="govuk-fieldset__legend">
      <p class="govuk-label govuk-label--s"><%= label %></p>
    </legend>

    <label class="govuk-label govuk-label--xs" for="stakeholder_municipality">
      Obec
    </label>
    <span class="govuk-hint">
      <%= hint %>
    </span>
    <%= form.select :stakeholder_municipality, @municipality_options, { :include_blank => true, :selected => @application_form.stakeholder&.address&.municipality }, { :class => "govuk-select" } %>
  </div>
<% else %>
  <%= form.hidden_field :stakeholder_municipality, value: @application_form.stakeholder&.address&.municipality %>
<% end %>
