<div class="govuk-form-group">
  <div class="govuk-radios govuk-radios--inline">
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="sr" name="apps_or_sr_app_stakeholders_identifiers_application_form[stakeholder_nationality]" type="radio" value="sr" checked>
      <label class="govuk-label govuk-radios__label" for="sr">
        Slovenská firma
      </label>    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="foreign" name="apps_or_sr_app_stakeholders_identifiers_application_form[stakeholder_nationality]" type="radio" value="foreigner">
      <label class="govuk-label govuk-radios__label" for="foreign">
        Zahraničná firma
      </label>
    </div>
  </div>
</div>

<div id="identifiers-sr" class="govuk-form-group">
  <label class="govuk-label govuk-label--s" for="identifier">
    IČO
  </label>
  <%= form.text_field :stakeholder_identifier %>
</div>

<div id="identifiers-foreign" class="govuk-form-group">
  <label class="govuk-label govuk-label--s" for="identifier">
    Identifikačný údaj
  </label>
  <%= form.text_field :stakeholder_other_identifier %>
</div>

<script type="text/javascript" charset="utf-8">
  // TODO show/hide
</script>
