<%= render partial: 'header' %>

<%= form_for @application_form, :builder => AppFormBuilder, url: stakeholder_identifier_apps_or_sr_app_stakeholders_identifiers_path do |f| %>
  <%= render 'apps/or_sr_app/stakeholders_identifiers/back', form: f %>

  <%= render 'apps/or_sr_app/stakeholders_identifiers/hidden_fields', form: f, current_step: 'xml' %>
<% end %>


<legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
  <h2 class="govuk-fieldset__heading">
    Generovanie podania
  </h2>
</legend>
<br />

<p>Dáta k podaniu zmeny v Obchodnom registri sú pripravené.</p>
<br />

<div id="download-file">
  <p>Stiahnite si vygenerovaný formulár na bezpečné miesto do Vášho počítača a pokračujte podľa návodu.</p>
  <p>Formulár použijete neskôr na portáli slovensko.sk ako prílohu k podaniu.</p>

  <button id="get-xml-button" class="govuk-button govuk-!-margin-top-6" type="submit" data-module="govuk-button" data-submit="true">
    Stiahnúť formulár (XML)
  </button>
</div>


<div id="send-file">
  <p>Formulár Vám môžeme zaslať aj priamo na emailovú adresu aj s pokynmi ako pokračovať ďalej na portáli slovensko.sk.</p>

  <div class="govuk-form-group">
    <label class="govuk-label" for="email">
      Vaša emailová adresa
    </label>
    <input class="govuk-input" id="email" name="temail" type="email">
  </div>

  <button id="get-email-button" class="govuk-button govuk-!-margin-top-6" type="submit" data-module="govuk-button" data-submit="true">
    Odoslať na email
  </button>
</div>
