<%= render partial: 'header' %>

<legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
  <h2 class="govuk-fieldset__heading">Vaša spoločnosť nespĺňa podmienky pre využitie tejto aplikácie</h2>
</legend>
<br />

<p>Nemusíte sa však obávať, pomocou návodu si viete vyplniť identifikačné údaje aj pre Vašu spoločnosť. Pokračujte na návod a podľa inštrukcií vyplňte formulár na stránke ministerstva spravodlivosti.</p>
