<%= render partial: 'header' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h2 class="govuk-fieldset__heading">Vaša spoločnosť nespĺňa podmienky pre využitie tejto aplikácie</h2>
    </legend>
    <br />

    <p>Nemusíte sa však obávať, pomocou návodu si viete vyplniť identifikačné údaje aj pre Vašu spoločnosť. Pokračujte na <a href="/zivotne-situacie/zapis-rodneho-cisla-do-or/krok/vytvorit-navrh-na-zapis#basic-flow">návod</a> a podľa inštrukcií vyplňte formulár na stránke ministerstva spravodlivosti.</p>
  </div>
</div>
