<div style="padding: 2em; margin-bottom: 2em; background-color: #f4f4f4;">
  <h2 class="govuk-heading-m"><%= company.name %></h2>
  <p class="govuk-body" style="margin-bottom: 0">IČO: <%= company.ico %></p>
</div>
