<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Upozornenie</span>
    <% unless @application_form.municipality_email_verified? %>Emailové adresy obcí je veľmi problematické získať a adresa tejto obce nebola ešte overená. <% end %>Uistite sa, či dostanete potvrdenie o&nbsp;prijatí žiadosti. Ak potvrdenie nedostanete, kontaktujte obec telefonicky alebo osobne.
  </strong>
</div>
