<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Upozornenie</span>
    Uistite sa, či dostanete potvrdenie o&nbsp;prijatí žiadosti. Ak potvrdenie nedostanete, kontaktujte obec telefonicky alebo osobne.
  </strong>
</div>
