<!DOCTYPE html>
<html>
<head>
<title>Čestné prehlásenie o trvalom pobyte mimo územia Slovenskej republiky</title>
<style>
  body {
    font-size: 60px;
    font-family: Times, 'Times New Roman', Arial, Helvetica, sans-serif;
    line-height: 1.5;
    padding: 80px;
  }

  * {
    box-sizing: border-box;
  }
</style>
</head>
<body>
  <br/>
  <br/>
  Na účely voľby poštou do Národnej rady Slovenskej republiky v roku <%= Apps::ParliamentVoteApp::ApplicationForm::VOTE_DATE.year %> čestne vyhlasujem, že nemám trvalý pobyt na území Slovenskej republiky.
</body>
</html>
