<%= render_notification_subscription_component ['VoteSubscription', 'NewsletterSubscription'] do %>
  <h3 class="govuk-heading-m">Aktivujte si aj upozornenia na email, aby ste na nič nezabudli.</h3>
<%  end %>
<h3 class="govuk-heading-l">Čo ďalej?</h3>
<p class="govuk-body">Ak sa vám táto aplikácia páčila, môžete sa zapojiť a pomôcť nám s vývojom či obsahom, alebo nás <%= link_to 'podporte finančne', 'https://slovensko.digital/podpora' %>.</p>
<p class="govuk-body">Na portáli Návody.Digital nájdete <%= link_to 'množstvo ďalších návodov', root_path %> ako vyriešiť aj iné životné situácie, ktoré si vyžadujú kontakt so štátnou byrokraciou.</p>
