<%= content_for :title, build_page_title('Osobné údaje', 'Parlamentné voľby') %>
<%= content_for(:headerline, 'Parlamentné voľby') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "apps/parliament_vote_app/application_forms/address", form: @application_form %>
  </div>
</div>
