<%= content_for :title, build_page_title('Parlamentné voľby') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Voľby do parlamentu sa už konali</h1>
    <%= render 'apps/parliament_vote_app/application_forms/subscribe' %>
  </div>
</div>
