<%= content_for :title, build_page_title('Zápis do zoznamu voličov', 'Parlamentné voľby') %>
<%= content_for(:headerline, 'Parlamentné voľby') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-xl">Hlasovanie občanov inej narodnosti.</h2>
    <p class="govuk-body-lead">
      Ľutujeme ale v parlamentných volbach voliť nemôžeš.
    </p>
  </div>
</div>
