<%= content_for :title, build_page_title('Osobné prevzatie hlasovacieho preukazu', 'Parlamentne Voľby') %>
<%= content_for(:headerline, 'Parlamentne Voľby') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-xl">Prevzatie hlasovacieho preukazu splnomocnenou osobou</h2>
    <p class="govuk-body-lead">Vyplnit formular.</p>
    <%= render 'apps/parliament_vote_app/application_forms/subscribe' %>
  </div>
</div>
