<%= content_for :title, build_page_title('Parlamentné voľby') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Parlamentné voľby</h1>
    <p class="govuk-body-lead">Pomocou tejto služby zistíte kde a ako môžete hlasovať a taktiež Vám pomôže vytvoriť žiadosť o hlasovací preukaz, aby ste mohli voliť mimo trvalého bydliska.</p>
    <p class="govuk-body">Používaním tejto služby súhlasíte so spracovaním osobných údajov v rozsahu nevyhnutnom pre určenie spôsobu voľby a vytvorenie žiadosti o hlasovací preukaz.</p>
    <%= form_for @application_form do |f| %>
      <div class="govuk-form-group">
        <%= f.hidden_field :step %>
      </div>
      <%= submit_tag 'Súhlasím a chcem začať', class: 'govuk-button govuk-button--large' %>
    <% end %>
  </div>
</div>
