<%= content_for :title, build_page_title('Hlasovanie v zahraničí', 'Parlamentné voľby') %>
<%= content_for(:headerline, 'Parlamentné voľby') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-xl">Hlasovanie v zahraničí</h2>
    <p class="govuk-body-lead">Info or procese...</p>
    <%= render 'apps/parliament_vote_app/application_forms/subscribe' %>
  </div>
</div>
