<% if flash[:notice] %>
  <% if flash[:notice] == 'first_time_login' %>
    <h1>Vitajte na N치vody.Digital</h1>
    <div class="govuk-modal-dialogue govuk-modal-dialogue--open" data-module="govuk-modal-dialogue" data-controller="modal" data-modal-target="modal">
      <div class="govuk-modal-dialogue__wrapper">
        <dialog aria-describedby="welcome-description" aria-labelledby="welcome-title" class="govuk-modal-dialogue__box" id="welcome" role="alertdialog" tabindex="0" open="">
          <div class="govuk-modal-dialogue__header">
            <button aria-label="Close modal dialogue" class="govuk-button govuk-modal-dialogue__close" data-action="modal#close" data-module="govuk-button" type="button">칑</button>
          </div>
          <div class="govuk-modal-dialogue__content">
            <h2 class="govuk-heading-l" id="welcome-title">Vitajte na N치vody.Digital 游녦</h2>
            <div class="govuk-modal-dialogue__description" id="welcome-description">
              <p class="govuk-body-l">Ked쬰 ste sa prihl치sili <strong>prv칳 kr치t</strong>, odpor칰캜ame, aby ste si <strong>pozreli kr치tky n치vod</strong>, v ktorom sa dozviete, ako v치m N치vody.Digital m칪쬿 pom칪c콘.</p>
            </div><%= link_to "츼no, chcem vedie콘 viac", page_path('vitajte'), class: "govuk-button govuk-modal-dialogue__continue", data: { turbolinks: false } %> <%= link_to "Nie, 캞akujem", "#", class: "govuk-modal-dialogue__cancel govuk-body govuk-link--no-visited-state", data: { action: 'modal#close' } %>
          </div>
        </dialog>
      </div>
      <div class="govuk-modal-dialogue__backdrop"></div>
    </div>
  <% else %>
    <div class="govuk-!-padding-top-6 govuk-!-padding-bottom-6">
      <div class="govuk-panel govuk-panel--notice">
        <div class="govuk-panel__body govuk-!-font-size-19 govuk-!-font-weight-bold">
          <%= flash[:notice] %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
<% if flash[:alert] %>
  <div class="govuk-!-padding-top-6 govuk-!-padding-bottom-6">
    <div class="govuk-panel govuk-panel--notice">
      <div class="govuk-panel__body govuk-!-font-size-19 govuk-!-font-weight-bold">
        <%= flash[:alert] %>
      </div>
    </div>
  </div>
<% end %>
