<div class="sdn-timeline">
  <ol start=0 class="sdn-timeline__list">
    <li class="sdn-timeline__step sdn-timeline__step<% if @current_step.nil? %> sdn-timeline__step--selected<% end %>">
      <% if @current_step == nil %>
        <div class="sdn-timeline__bullet sdn-timeline__bullet--positioned sdn-timeline__bullet"></div>
        <strong>
          <%= link_to 'Úvod', @journey, class: 'sdn-timeline__link sdn-timeline__link--selected' %>
        </strong>
      <% else %>
        <div class="sdn-timeline__bullet sdn-timeline__bullet--positioned sdn-timeline__bullet--not-done"></div>
        <%= link_to 'Úvod', @journey, class: 'sdn-timeline__link' %>
      <% end %>
    </li>
    <% @journey.steps.each do |step| %>
      <li class="sdn-timeline__step sdn-timeline__step--not-done<% if @current_step == step %> sdn-timeline__step--selected<% end %>">
        <% if @current_step == step %>
          <div class="sdn-timeline__bullet sdn-timeline__bullet--positioned sdn-timeline__bullet"></div>
          <strong>
            <%= link_to step.title, [@journey, step], class: 'sdn-timeline__link' %>
          </strong>
        <% else %>
          <div class="sdn-timeline__bullet sdn-timeline__bullet--positioned sdn-timeline__bullet--not-done"></div>
          <%= link_to step.title, [@journey, step], class: 'sdn-timeline__link' %>
        <% end %>
      </li>
    <% end %>
  </ol>
</div>
