<%= render_notification_subscription_component ['VoteSubscription', 'NewsletterSubscription'] do %>
  <h3 class="govuk-heading-m">Aktivujte si aj upozornenia na email, aby ste na niÄ nezabudli.</h3>
<%  end %>
