ingress:
  annotations:
    nginx.ingress.kubernetes.io/server-snippet: |
      location /sitemaps/sitemap.xml.gz {
        return 302 https://navodydigital.s3.eu-central-1.amazonaws.com/sitemaps/sitemap.xml.gz;
      }      
service:
  externalPort: 3000
  internalPort: 3000
image:
  secrets:
  - name: skdigital-bonet-registry
livenessProbe.initialDelaySeconds: 20
readinessProbe.initialDelaySeconds: 20 
application.migrateCommand: ["bundle", "exec", "rails", "db:migrate"]
resources:
  requests:
    cpu: 20m
    memory: 450Mi
  limits:
    memory: 1Gi
workers:
  clock:
    replicaCount: "1"
    command: ["bundle", "exec", "clockwork", "config/clock.rb"]
    terminationGracePeriodSeconds:  60
    livenessProbe:
      initialDelaySeconds: 5
      timeoutSeconds: 10
      probeType: "exec"
      command:
        - "pgrep"
        - "bundle"
    readinessProbe:
      probeType: "exec"
      command:
        - "pgrep"
        - "bundle"
    resources:
      requests:
        cpu: 10m
        memory: 250Mi
      limits:
        memory: 300Mi
  worker:
    replicaCount: "1"
    command: ["bundle", "exec", "good_job", "start"]
    terminationGracePeriodSeconds:  60
    livenessProbe:
      initialDelaySeconds: 5
      timeoutSeconds: 10
      probeType: "exec"
      command:
        - "pgrep"
        - "bundle"
    readinessProbe:
      probeType: "exec"
      command:
        - "pgrep"
        - "bundle"
    resources:
      requests:
        cpu: 200m
        memory: 250Mi
      limits:
        memory: 500Mi
