<% unless attachments&.empty? %>
  <%= yield %>
  <% attachments.each do |attachment| %>
    <p>
      <%= link_to "Stiahnuť #{ (attachments.count == 1) ? 'súbor' : attachment[:filename] }", download_submission_file_path(name: attachment[:filename], file: attachment[:content_encoded]), method: :post, class: 'govuk-button' %>
    </p>
  <% end %>
<% end %>