<p class="govuk-body-l"><strong>Na Váš email sme Vám zaslali všetky potrebné inštrukcie a prílohy pre úspečné dokončenie tohto podania.</strong> Uistite sa prosím, že Vám email prišiel.</p>
<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Dôležité</span>
    Ak ste email nedostali, všetky potrebné súbory pre toto podanie si môžete na tejto stránke stiahnuť.
  </strong>
</div>
