<div class="govuk-body">
  <h3 class="govuk-heading-l"></h3>
    <p>
      <strong>Ďakujeme za Váš záujem.</strong> Všetko potrebné sme odoslali a
      <% if current_user.logged_in? %>
        budeme Vám odteraz zasielať na email zvolené notifikácie.
      <% else %>
        vo Vašom emaile nájdete správu s odkazom na potvrdenie odberu zvolených notifikácii.
      <% end %>
    </p>
</div>

