<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-body sdn-content">
      <h3>Skvelé!</h3>
      <p>Gratulujeme, Vaša požiadavka bola úspešne postúpená na spracovanie!</p>
      <p><%= link_to 'Prosím, pokračujte kliknutím sem.', params[:callback_url] %></p>
    </div>
  </div>
</div>
