<div class="govuk-grid-column-two-thirds" id="submission-container">
  <h1 class="govuk-heading-l">Podanie</h1>
  <p class="govuk-body-l">Podanie, ktoré ste pripravili je potrebné ešte odoslať.</p>

  <%= render 'form', object: @submission %>
</div>

