<%= content_for :title, build_page_title(@submission_title) %>
<% content_for :before_content do %>
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
    </ol>
  </div>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-body sdn-content">
      <h2>Výborne!</h2>
      <p>Vaše podklady pre podanie daňového priznania za rok 2020 z aplikácie Priznanie.Digital sú hotové.</p>

      <p>Súbor vo formáte XML si môžete stiahnuť tu:</p>
      <p><%= link_to 'Stiahnuť podklady', download_submission_path, class: 'govuk-button', role: 'button', draggable: false %></p>

      <p>Vaše údaje sú už pripravené na to, aby ste ich odoslali na Finančnú správu.</p>

        <% if current_user_email_matches? %>
        <p>Ste prihlásený ako používateľ s rovnakým emailom, ako bolo uvedené pri vypĺňaní údajov. Pri odsúhlasení notifikácií Vám budú rovno aktivované, bez nutnosti ďalšieho potvrdenia.</p>
        <% else %>
        <p>Nie ste prihlásený, na potrvrdenie odberu notifikácií bude potrebné kliknúť na odkaz v emaile, ktorý Vám pošleme.</p>
        <% end %>

        <%= render_notification_subscription_component_temp(@subscription_types)  %>

    </div>
  </div>
</div>
