<% content_for :title, 'Návody.Digital' %>

<%= render 'search/search_box' %>

<h2>Životné situácie</h2>

<ul>
  <% @journeys.each do |journey| %>
    <li><%= link_to journey.title, journey_path(journey.slug) %></li>
  <% end %>
</ul>

<h2>Často kladené otázky</h2>
<% @faqs.each do |faq| %>
  <p><%= link_to faq.title, faq_path(faq) %></p>
<% end %>