<h1>Návody.digital!</h1>


<% @pages.each do |page| %>
  <p><%= link_to page.title, page.is_faq? ? faq_page_path(slug: page.slug) : static_page_path(slug: page.slug) %></p>
<% end %>

<h2>Životné situácie</h2>

<ul>
  <% @journeys.each do |journey| %>
    <li><%= link_to journey.title, journey_path(journey.slug) %></li>
  <% end %>
</ul>

<% if @user_journeys %>
  <h2>Rozpracované todo listy</h2>
  <ul>
    <% @user_journeys.each do |user_journey| %>
    <li><%= link_to "#{user_journey.journey.title} - #{l(user_journey.created_at, format: :short)}", user_journey_path(user_journey.id) %></li>
    <% end %>
  </ul>
<% end %>