<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl"><%= @page.title %></h1>

    <p class="govuk-body">
      <%= @page.content %>
    </p>
  </div>
</div>
