<div id="embedded-app-result" style="background-color: #fafafa; padding: 25px 30px;">
  <div class="sdn-todo-list-main-action-buttons-wrapper">
    <div class="sdn-todo-list-main-action-buttons">
      <%= link_to button_name, start_app_url, class: 'govuk-button', remote: true %>
    </div>
  </div>
</div>
