<div class="sdn-todo-list">
  <div style="background-color: #fffbe4; padding: 30px; margin-bottom: 30px;">
    <h2 class="govuk-heading-s">Aby ste na nič nezabudli</h2>
    <p style="font-size: 15px; opacity: 0.8">
      Aby ste nestratili prehľad v tom, čo ste už vybavili a&nbsp;čo
      ešte nie, môžete si jednotlivé kroky a&nbsp;povinnosti evidovať ako vybavené. Budeme vám
      taktiež posielať notifikácie o prípadných lehotách a celé to bude jednoduchšie.
    <p style="font-size: 15px; opacity: 0.8">
      Na využívanie tejto funkcionality sa však musíte prihlásiť. Prvá registrácia trvá menej ako minútu a&nbsp;potrebujeme
      vedieť len vašu emailovú adresu.</p>
    <%= link_to 'Chcem sa prihlásiť', new_session_path(callback: journey_path(@journey)), class: 'govuk-button govuk-button__secondary', style: 'margin-bottom: 0' %>
  </div>

  <% if @current_step && @current_step.tasks.any? %>
    <div class="sdn-todo-list-box">
      <div class="sdn-todo-list__title">Povinnosti</div>
      <ul class="sdn-todo-list__items govuk-checkboxes govuk-checkboxes--small">
        <% @current_step.tasks.each do |task| %>
          <li class="sdn-todo-list__item">
            <%= render "journeys/tasks/#{task.type.underscore}", task: task %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @current_step&.has_app? %>
    <div class="sdn-todo-list-main-action">
      <% if @current_step.tasks.any? && @current_step.has_app? %>
        <div class="govuk-body-s sdn-todo-list-main-action__info">
          Po splnení všetkých povinností môžete podať elektronickú žiadosť.
        </div>
      <% end %>

      <div class="sdn-todo-list-main-action-buttons-wrapper">
        <div class="sdn-todo-list-main-action-buttons">
          <%= link_to 'Požiadať elektronicky', start_journey_step_path(@journey, @current_step), target: '_blank', class: 'govuk-button govuk-button--start', draggable: false %>
        </div>
      </div>
    </div>
  <% end %>
</div>
