<meta id="authenticity-token" name="authenticity-token" content="<%= form_authenticity_token %>">

<fieldset class="govuk-fieldset">
  <div class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-padding-bottom-4">
    <h3 class="govuk-fieldset__heading govuk-!-padding-bottom-1">
      Žiadosť o vyhotovenie kópie listiny uloženej v zbierke listín
    </h3>
  </div>
</fieldset>
