<% content_for :title, build_page_title('Všeobecná agenda', 'Podania') %>
<% content_for :description, sanitize_description('Zasielanie správ orgánov verejnej moci') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Podanie bolo úspešne odoslané
      </h1>
      <div class="govuk-panel__body">
        Do schránky na slovensko.sk by ste mali dostať potvrdenie o&nbsp;úspešnom prijatí podania.
      </div>
    </div>

    <%= render_notification_subscription_component(['NewsletterSubscription']) do %>
      <h2 class="govuk-heading-m">Čo ďalej?</h2>
      <p class="govuk-body">Ak sa Vám táto služba páčila, prihláste sa na odber noviniek Návody.Digital. Posielame ich len sem-tam, žiadny spam. Sľubujeme, že to bude užitočné.</p>
    <% end %>
  </div>
</div>
