<%= render_notification_subscription_component ['NewsletterSubscription', 'VoteSubscription', 'CompanyNewsletterSubscription'] do %>
  <h3 class="govuk-heading-l">Aktivujte si upozornenia na email, aby ste nabudúce na nič nezabudli.</h3>
<% end %>
