/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require cookieconsent.min
 *= require static
 *= require navody-frontend-fixes
 *= require_self
 */

.featured-journeys {
    background-color: #FAFAFA;
}

#show-more-container {
    text-align: center;
}


.govuk-panel--contact {
    color: white;
    background: #2a61d4;
    text-align: left;
    padding: 15px;
}

.govuk-panel--contact > .govuk-panel__heading {
    padding: 0;
    margin-top: 0;
    margin-bottom: 20px;
}

.govuk-panel--contact > .govuk-panel__body p {
    color: white;
    margin: 0;
}

.govuk-panel--contact > .govuk-panel__body a {
    color: white;
}

.govuk-panel--notice {
    background: #2a61d4;
    padding: 15px;
    color: white;
}

.govuk-panel--success {
    background: #2a61d4;
    padding: 15px;
    color: white;
    text-align: left;
}

.sdn-todo-list__success_notice {
    border: 0 solid #4cae18;
    border-left-width: 5px;
    padding: 0 0 0 15px;
}

.sdn-todo-list__success_notice > h3.govuk-heading-s {
    color: #4cae18;
}

.sdn-todo-list-box--completed {
    border-left-color: #4cae18
}
