/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require cookieconsent.min
 *= require static
 *= require navody-frontend-fixes
 *= require_self
 */

.featured-journeys {
    background-color: #FAFAFA;
}

#show-more-container {
    text-align: center;
}


.govuk-panel--contact {
    color: white;
    background: #2a61d4;
    text-align: left;
    padding: 15px;
}

.govuk-panel--contact > .govuk-panel__heading {
    padding: 0;
    margin-top: 0;
    margin-bottom: 20px;
}

.govuk-panel--contact > .govuk-panel__body p {
    color: white;
    margin: 0;
}

.govuk-panel--contact > .govuk-panel__body a {
    color: white;
}

.govuk-panel--notice {
    background: #2a61d4;
    padding: 15px;
    color: white;
}

.govuk-panel--success {
    background: #2a61d4;
    padding: 15px;
    color: white;
    text-align: left;
}

.sdn-todo-list__success_notice {
    border: 0 solid #4cae18;
    border-left-width: 5px;
    padding: 0 0 0 15px;
}

.sdn-todo-list__success_notice > h3.govuk-heading-s {
    color: #4cae18;
}

.sdn-todo-list-box--completed {
    border-left-color: #4cae18
}

.embedded-app {
    border: 1px solid #bfc1c3;
    padding: 30px 20px;
    margin: 20px 0;
}

.body__iframe .navody-template__content > .sdn-phase-banner,
.body__iframe .sdn-header ,
.body__iframe .navody-template__footer ,
.body__iframe .sdn-feedbackbar  {
    display: none !important;
}

.body__iframe [type="submit"]:last-child {
    margin-bottom: 0;
}

.govuk-input-autocomplete {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    font-size: 1.125rem;
    line-height: 1.33333;
    font-family: "Roboto", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.notification-subscription-group {
    background-color: #fafafa;
    padding: 2em;
    margin: 2em 0;
}

@media (max-width: 414px) {
    .notification-subscription-group {
        padding: 1em;
    }
}

.notification-subscription-group .govuk-button {
    border: 2px solid #3a67e8;
    color: #3a67e8;
    background-color: inherit;
    border-radius: 3px;
    margin-bottom: 0;
}

.notification-subscription-group .govuk-form-group:last-child {
    margin-bottom: 0;
}
