/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.featured-journeys {
    background-color: #FAFAFA;
}

#show-more-container {
    text-align: center;
}


.govuk-panel--contact {
    color: white;
    background: #2a61d4;
    text-align: left;
    padding: 15px;
}

.govuk-panel--contact > .govuk-panel__heading {
    padding: 0;
    margin-top: 0;
    margin-bottom: 20px;
}

.govuk-panel--contact > .govuk-panel__body p {
    color: white;
    margin: 0;
}

.govuk-panel--contact > .govuk-panel__body a {
    color: white;
}

.govuk-panel--notice {
    background: #2a61d4;
    padding: 15px;
    color: white;
}
