.govuk-link:link, a:link {
  color: black;
}

.govuk-link:visited, a:visited {
  color: #555;
}

.sdn-footer {
  .govuk-link:link, a:link, .govuk-link:visited, a:visited {
    color: white;
  }
}

.sdn-footer__disclaimer {
  color: #d0d0d0;
}

@media (max-width: 48.0525em) {
  .sdn-footer__disclaimer {
    text-align: center;
  }
}

a.sdn-timeline-dropdown__option {
  color: #06070b;
  text-decoration: none;
}

/* TODO move to frontend code */
.sdn-timeline__bullet {
  cursor: default;
}

.sdn-timeline__bullet.js-sdn-timeline__bullet {
  cursor: pointer;
}

.sdn-todo-list--done .sdn-todo-list-main-action {
  padding: 25px 30px 10px 30px;
  background-color: #e5f2e4;
}

/* TODO move to frontend code */
.sdn-next-link__link {
  display: block;
}

.autocomplete__wrapper {
  font-family: "Roboto", Arial, sans-serif;
}

.sdn-submission-form__panel {
  border-left: 10px solid #ffdd00;
  background-color: #fff9cc;
  padding: 2em 2em 1em;
}

.sdn-submission-form__signature {
  background-color: #e5f2e4;
  border-left: 10px solid #00703c;
  padding: 1em 2em;
  margin-bottom: 2px;
}

.sdn-submission-form__signature .govuk-body {
  margin: 0;
}

.govuk-input--disabled {
  background-color: rgba(239, 239, 239, 0.3);
  border-color: #6f777b;
}

.button-back,
.button-back:hover,
.button-back:focus,
.button-back:active {
  border: none;
  background: none;
  padding: 0 0 0 14px;
  cursor: pointer;
  outline: none;
}

.vote-app-back {
  top: -15px;
}

.govuk-button.govuk-link {
  background: none;
  color: #06070b;
  font-weight: normal;
  text-decoration: underline;
}

.govuk-cancel-link {
  color: #d4351c !important;
}

// deadline component
.govuk-notification-banner {
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  margin-bottom: 30px;
  border: 5px solid #1d70b8;
  background-color: #1d70b8;
}

.govuk-notification-banner__header {
  padding: 2px 15px 5px;
  border-bottom: 1px solid rgba(0,0,0,0);
}

.govuk-notification-banner__title {
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  margin: 0;
  padding: 0;
  color: #fff;
}

.govuk-notification-banner__content {
  color: #0b0c0c;
  padding: 15px;
  background-color: #fff;
}

.govuk-notification-banner__content > :last-child {
  margin-bottom: 0;
}

.govuk-notification-banner__heading {
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.1111111111;
  margin: 0 0 15px 0;
  margin-bottom: 15px;
  padding: 0;
}
