.govuk-link:link, a:link {
  color: black;
}

.govuk-link:visited, a:visited {
  color: #555;
}

.sdn-footer {
  .govuk-link:link, a:link, .govuk-link:visited, a:visited {
    color: white;
  }
}

.sdn-footer__disclaimer {
  color: #d0d0d0;
}

@media (max-width: 48.0525em) {
  .sdn-footer__disclaimer {
    text-align: center;
  }
}

a.sdn-timeline-dropdown__option {
  color: #06070b;
  text-decoration: none;
}

/* TODO move to frontend code */
.sdn-timeline__bullet {
  cursor: default;
}

.sdn-timeline__bullet.js-sdn-timeline__bullet {
  cursor: pointer;
}

.sdn-todo-list--done .sdn-todo-list-main-action {
  padding: 25px 30px 10px 30px;
  background-color: #e5f2e4;
}

/* TODO move to frontend code */
.sdn-next-link__link {
  display: block;
}

.button-back ,
.button-back:hover ,
.button-back:focus ,
.button-back:active {
  border: none;
  background: none;
  padding: 0 0 0 14px;
  cursor: pointer;
  outline: none;
}

.vote-app-back {
  top: -15px;
}

.govuk-button.govuk-link {
  background: none;
  color: #06070b;
  font-weight: normal;
  text-decoration: underline;
}

.autocomplete__wrapper {
  font-family: "Roboto", Arial, sans-serif;
}

.sdn-submission-form__panel {
  border-left: 10px solid #ffdd00;
  background-color: #fff9cc;
  padding: 2em 2em 1em;
}

.sdn-submission-form__signature {
  background-color: #e5f2e4;
  border-left: 10px solid #00703c;
  padding: 1em 2em;
  margin-bottom: 2px;
}

.sdn-submission-form__signature .govuk-body {
  margin: 0;
}

.govuk-input--disabled {
  background-color: rgba(239, 239, 239, 0.3);
  border-color: #6f777b;
}