$govuk-border-colour: #b1b4b6;
$govuk-secondary-text-colour: #505a5f;
$govuk-focus-colour: #ffdd00;

.autocomplete__input {
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 1.3157894737;
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  box-sizing: border-box;
  width: 60%;
  height: 40px;
  height: 2.5rem;
  margin-top: 0;
  padding: 5px;
  border: 2px solid #0b0c0c;
  border-radius: 0;
  -webkit-appearance: none;
  appearance: none;
}

.autocomplete__menu {
  position: relative;
  padding: 0;
  margin: 0;
  border: 2px solid #0b0c0c;
  border-radius: 0;
  box-sizing: border-box;
  width: 60%;
}

.autocomplete__option {
  list-style: none;
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  box-sizing: border-box;
  width: 100%;
  min-height: 40px;
  padding: 0 10px;
  border: 1px solid $govuk-border-colour;
  border-radius: 0;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-items: center;
  -webkit-appearance: none;
  appearance: none;
}

.autocomplete__option:hover {
  background-color:  $govuk-focus-colour;
}

.autocomplete__menu--hidden, .hidden {
  display: none;
}

.autocomplete__menu--loading {
  display: block;
  min-height: 40px;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner {
  position: absolute;
  top: 25%;
  left: 50%;
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #000;
  animation: spinner .6s linear infinite;
}
