$govuk-border-colour: #b1b4b6;
$govuk-secondary-text-colour: #505a5f;
$govuk-focus-colour: #ffdd00;

div.govuk-grid-row {
  width: 100%;

  div.govuk-grid-column-two-thirds {
    box-sizing: unset;
  }
}

.autocomplete__input {
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 1.3157894737;
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  height: 2.5rem;
  margin-top: 0;
  padding: 5px;
  border: 2px solid #0b0c0c;
  border-radius: 0;
  -webkit-appearance: none;
  appearance: none;
}

.autocomplete__wrapper--error > input {
  border: 4px solid #b10e1e;
}

.autocomplete__menu {
  position: relative;
  padding: 0;
  margin: 0;
  border: 2px solid #0b0c0c;
  border-radius: 0;
  box-sizing: border-box;
  width: 100%;
}

.autocomplete__option {
  list-style: none;
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  box-sizing: border-box;
  width: 100%;
  min-height: 40px;
  padding: 0 10px;
  border: 1px solid $govuk-border-colour;
  border-radius: 0;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-items: center;
  -webkit-appearance: none;
  appearance: none;
}

.autocomplete__option:hover {
  background-color:  $govuk-focus-colour;
}

.autocomplete__menu--hidden, .hidden {
  display: none;
}

.autocomplete__menu--loading {
  display: block;
  min-height: 40px;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner {
  position: absolute;
  top: 25%;
  left: 50%;
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #000;
  animation: spinner .6s linear infinite;
}

#identifiers-sr input, #identifiers-foreign input {
  width: 100%;

  @media only screen and (min-width: 641px) {
    width: 60%;
  }
}

p.govuk-body-xs {
  margin-top: 2rem;
}

legend#stakeholder {
  margin-bottom: 1rem;
}

legend#stakeholder > p {
  margin-bottom: 0.5rem;
}

legend#stakeholder_address {
  margin-bottom: 0;
}

div#identifiers input {
  width: 100%;

  @media only screen and (min-width: 641px) {
    width: 60%;
  }
}

button#submit-edit-button {
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: arial, sans-serif;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

div.govuk-grid-row {
  display: inline-flex;

  @media only screen and (max-width: 992px) {
    display: flex;
    flex-direction: column;
  }

  div#download-file, div#send-file {
    padding: 1.5rem;
    margin: 0 1rem;
    background-color: rgb(244, 244, 244);

    @media only screen and (max-width: 992px) {
      margin: 1rem;
    }
  }
}

div#continue {
  display: none;

  p {
     margin: 2rem 0 0 0;
  }
}
