@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner {
  position: absolute;
  top: 25%;
  left: 50%;
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #000;
  animation: spinner .6s linear infinite;
}

.spinner.spinner-lg:before {
  width: 60px;
  height: 60px;
}
