<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-body sdn-content">
      <h2>Tento návod zatiaľ nie je spracovaný.</h2>
      <p>Napíšte nám, ak máte záujem sa zapojiť a podieľať sa na vytvorení napríklad tohto návodu. Ak chcete dostať notifikáciu, keď bude tento návod zverejnený na portáli, prihláste sa na odber noviniek, pošleme Vám informáciu o novom obsahu.</p>

      <%= render_notification_subscription_component ['BlankJourneySubscription', 'NewsletterSubscription'], journey: journey %>
    </div>
  </div>
</div>



