<h2>PRÁZDNY NÁVOD</h2>
<p>Tento návod je zatiaľ prázdny. Ak máte záujem o tieto konkrétne informácie, nechajte nám svoj e-mail, a my sa Vám ozveme, keď ho doplníme.</p>

<%= render_notification_subscription_component ['BlankJourneySubscription'], journey_id %>

