<% if errors.any? %>
  <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
      Niekde sa stala chyba
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <% errors.keys.each do |field_name| %>
          <li>
            <%= content_tag(:a, errors.full_message(field_name, errors[field_name].first), href: "#form_group_#{field_name}") %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
