<div class="nested-fields govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= f.text_field :name, class: ['govuk-input'].compact %>
  </div>
  <div class="govuk-grid-column-one-third govuk-body govuk-!-padding-top-2 govuk-!-padding-left-0">
    <%= link_to_remove_association "Zmazať", f, class: "govuk-link" %>
  </div>
</div>
