<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-padding-top-6 govuk-!-padding-bottom-9">
    <div class="govuk-panel govuk-panel--success">
      <div class="govuk-panel__title govuk-!-font-size-36 govuk-!-margin-bottom-4">
        Vaša žiadosť je pripravená.
      </div>
      <div class="govuk-panel__body govuk-!-font-size-19">
        <p>
          Vaša žiadosť na ohlásenie živnosti je úspešne vyplnená a pripravená na podanie.
        </p>

        <p>
          Môžete ju podať hneď teraz, alebo sa vrátiť k ostatným úlohám Vášho návodu
        </p>
      </div>
    </div>

    <p class="govuk-body govuk-!-margin-top-6">
      <%= button_tag "Podať žiadosť", class: 'govuk-button' %><br/>
      alebo sa <%= link_to 'vrátiť na návod' %>.
    </p>
  </div>
</div>
