<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-padding-top-6 govuk-!-padding-bottom-9">
    <div class="govuk-panel govuk-panel--success">
      <div class="govuk-panel__title govuk-!-font-size-36 govuk-!-margin-bottom-4">
        Vaša žiadosť je pripravená.
      </div>
      <div class="govuk-panel__body govuk-!-font-size-19">
        Vaša žiadosť na ohlásenie živnosti je úspešne vyplnená a pripravená na podanie.
      </div>
    </div>

    <p class="govuk-body govuk-!-margin-top-6">
      Teraz sa môžete vrátiť k ostatným úlohám Vášho návodu.
    </p>
    <%= submit_tag "Pokračovať v návode", class: 'govuk-button' %>
  </div>
</div>
