<!DOCTYPE html>
<html>
<head>
<title>PDFs - Ruby on Rails</title>
<style>
  body {
    font-size: 70px;
  }
  h1 {
    font-size: 60px;
  }
</style>

</head>
<body>
    <h1>asdasdasd</h1>
    <table>
      <tr>
        <td>asdasdas</td>
      </tr>
    </table>
</body>
</html>
