<p class="govuk-body-lead">Aktivujte si upozornenia na email, aby Vám už žiaden dôležitý termín neunikol.</p>
<%= render_notification_subscription_component ['NextVoteSubscription', 'NewsletterSubscription'] %>

