<% if form.vote_by_post_expired? %>
  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive">Upozornenie</span>
      <span style="color: darkred">Lehota na zaslanie žiadosti o voľbu poštou zo zahraničia uplynula 10.1.2020.</span>
    </strong>
  </div>
<% end %>
